body {
    /* background-image: url("https://i.redd.it/70dmmfn3ohi71.jpg"); */
    background-image: linear-gradient(to bottom right, #ed5454, #ee5f54, #e2ad63d8, #f4c426, #f2ff00, #f4c426, #e2ad63d8, #ee5f54, #ed5454);
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.header {
    font-family: 'Raleway', "Trebuchet MS", sans-serif;
    font-size: 50px;
    font-weight: bold;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 150px;
    margin-bottom: 5px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

#increment_test_btn {
    background: red;
    /* background: url("https://cdn2.bulbagarden.net/upload/thumb/f/f5/399Bidoof.png/1200px-399Bidoof.png"); */
}

p {
    font-weight: bold;
    font-size: 15px;
}

#save_test_btn {
    background: rgb(11, 143, 11);
}
